extends includes/layout

block content
    .home-page
        if theme.index_card.enable
            include includes/component/home-card
        include includes/mixins/recent_posts
        article.mb-20.article-lists
            +recent_post
        include includes/component/pagination