extends includes/layout

block content
    .page-inner
        case page.type
            when 'categories'
                include includes/page/categories.pug
            when 'tags'
                include includes/page/tags.pug
            when 'link'
                include includes/page/link.pug
            default
                include includes/page/default_page
        if page.comment !== false && theme.comment && theme.comment.use
            - var commentsJsLoad = true
            !=partial('includes/third-party/comments/index', {}, {cache: true})