if hexo-config('darkmode.enable') || hexo-config('display_mode') == 'dark'
  [data-theme='dark']
    --main-bg: lighten(#121212, 6)
    --font-color: alpha(#FFFFFF, .7)
    --body-bg: #1d1d1f
    --footer-bg: #2d2d2d
    --title-color: alpha(#FFFFFF, .9)
    --meta-info-color: alpha(#FFFFFF, .4)
    --main-hover-bg: lighten(#121212, 20)
    --btn-bg: lighten(#121212, 7)
    --btn-hover-color: lighten(#121212, 20)
    --main-shadow: 0 0 12px 0 var(--shadow-color)
    --main-btn-bg: lighten(#121212, 9)
    --main-btn-hover-bg: lighten(#121212, 20)
    --main-gray-bg: lighten(#121212, 9)
    --depth-hover-bg: lighten(#121212, 10)
    --hltools-bg: lighten(#121212, 3)
    --hltools-color: #90a4ae
    --hl-color: alpha(#FFFFFF, .7)
    --hl-bg: lighten(#121212, 2)
    --hlnumber-bg: lighten(#121212, 2)
    --hlnumber-color: alpha(#FFFFFF, .4)
    --hlscrollbar-bg: lighten(#121212, 5)
    --hlexpand-bg: linear-gradient(180deg, rgba(lighten(#121212, 2), .6), rgba(lighten(#121212, 2), .9))
    --scrollbar-color: lighten(#121212, 5)
    --timeline-bg: lighten(#121212, 5)
    --tab-border-color: #2c2c2c
    --tab-botton-bg: #2c2c2c
    --tab-botton-color: alpha(#FFFFFF, .7)
    --tab-button-hover-bg: lighten(#121212, 15)
    --tab-button-active-bg: #121212

    .page-info
      &:before
        background-color: alpha(#121212, .5)
    .post
      &:after
        position: absolute;
        width: 100%
        height: 100%
        top: 0
        content ''
        background-color: rgba(0,0,0,.3);
    .post-inner
      code
        background: #2c2c2c
      pre > code
        background: lighten(#121212, 2)
      figure.highlight
        box-shadow: none
      .aplayer
        filter: brightness(.8)
      kbd
        border-color: #696969
        background-color: #525252
        color: #e2f1ff

    .bg-filter
      background-color: rgba(10,10,10,.5);
    if hexo-config('note.style') == 'modern' || hexo-config('note.style') == 'flat'
      .note
        filter: brightness(.8)

    // hide-tags
    .hide-button,
    .btn-beautify,
    .hl-label,
    .post-outdate-notice,
    .error-img,
    .post-inner iframe,
    .gist,
    .ads-wrap
      filter: brightness(.8)
    img
      if hexo-config('lazyload.enable') && hexo-config('lazyload.blur') && !hexo-config('lazyload.loading_anime')
        filter: blur(0) brightness(.8)
      else
        filter: brightness(.8)