if hexo-config('css_prefix')
  @import 'nib'
@import "_normalize/normalize.css"
@import "_var"
@import "_global/*"
@import "_common/*"
@import "_highlight/highlight"
@import "_page/*"
@import "_layout/*"
@import "_tags/*"
@import "_dark/*"
