.comment-inner
    div
        case theme.comment.use
            when 'valine'
                #valine-comment
            when 'gitalk'
                #gitalk-container
            when 'twikoo'
                #twikoo-wrap
            when 'waline'
                #waline-wrap
