#archives
  .years
    opacity: .7;
    margin: 5px 0;
  .post-sort-item
    position: relative;
    display flex
    padding: 5px;
    color var(--font-color)
    border-radius 2px
    overflow: hidden;
    &:hover
      color var(--link-color)
      background-color: var(--depth-hover-bg);
    .post-sort-img
      width: 80px
      height: 50px
      border-radius: 2px;
      overflow hidden
      img
        height: 100%
        width: 100%
        object-fit: cover;
    .post-sort-info
      display flex
      justify-content: space-between;
      flex-wrap nowrap
      padding: 0 15px;
      width: 100%
