#footer
  margin-top: 2rem;
.footer-inner
  width: 100%
  text-align: center;
  padding: 30px;
  min-height: 10em;
  color var(--font-color)
  background-color: var(--footer-bg);
  #site-runtime
    display inline-block
  a
    color var(--font-color)
  div
    margin: 5px 0;