.post-inner
  word-wrap: break-word
  overflow-wrap: break-word
  h2
    font-size 1.6em
  a
    color: var(--link-color)

    &:hover
      text-decoration: underline

  img
    display: block
    margin: 0 auto 20px
    max-width: 100%
    transition: filter 375ms ease-in .2s

  p
    margin: 0 0 16px

  iframe
    margin: 0 0 20px

  kbd
    margin: 0 3px
    padding: 3px 5px
    border: 1px solid #b4b4b4
    border-radius: 3px
    background-color: #f8f8f8
    box-shadow: 0 1px 3px rgba(0, 0, 0, .25), 0 2px 1px 0 rgba(255, 255, 255, .6) inset
    color: #34495e
    white-space: nowrap
    font-weight: 600
    font-size: .9em
    font-family: Monaco, 'Ubuntu Mono', monospace
    line-height: 1em

  ul li
    list-style-type: circle
  ol li
    list-style-type: decimal;
  ol,ul
    padding-left: 1rem;
    margin: 1.4em 0;
    li
      margin: 5px 0
      p
        margin: 0 0 8px
  ol
    +maxWidth768()
      padding-left: 1.25rem;
  > :last-child
    margin-bottom: 0 !important

.post-tools
  display flex
  justify-content: space-between;
  .share-link
    display flex
    .share-copyurl
      width: 46px;
      height: 32px
    .share-qrcode
      .qrcode-btn
        position: relative;
        width: 46px;
        height: 32px
        &:hover
          .qrcode-main
            display block
        .qrcode-main
          display none
          position: absolute;
          left: 50%
          bottom: 30px
          padding-bottom: 12px;
          background-color: transparent;
          z-index: 100;
          cursor default
          transform translateX(-50%)
          animation: tobottom-effect .3s .1s ease both;
          .qrcode-box
            padding: 12px;
            border-radius var(--main-radius)
            background-color: var(--main-bg);
            .text
              font-size 0.72rem
              margin-bottom: -5px;
            #qrcode
              padding: 5px
              width: 150px
              height: 150px
              img
                width: 100%
                height: 100%
  .post-tags
    a
      padding: 2px 5px;
      font-size .65rem
      color var(--gray-font-color)
      margin-right: 4px;
      border-radius 12px
      background-color: var(--main-btn-bg);
      &:hover
        color var(--font-color)
.post-reward
  display flex
  justify-content: center;
  margin: 2rem 0;
  .reward-button
    position: relative;
    width: 72px
    &:hover
      .reward-main
        display block
    .reward-main
      position: absolute;
      bottom: 32px;
      left: 50%
      z-index: 100;
      display: none;
      transform translateX(-50%)
      padding-bottom: 12px;
      cursor default
      animation: tobottom-effect .3s .1s ease both
      .reward-box
        display flex
        width: 100%
        padding: 8px
        border-radius var(--main-radius)
        background-color: var(--main-bg);
        .reward-item
          padding: 3px
          .reward-img
            display block
            padding: 5px
            width: 130px
            height: 130px
            img
              width: 100%
              height: 100%
          .reward-item-desc
            color var(--gray-font-color)

.post-copyright
  margin-top: 2rem;
  background-color: var(--main-gray-bg);
  padding: 1rem;
  border-radius var(--main-radius)
  .post-copyright-title
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    span
      font-weight: 700;
      font-size: 1rem;
      line-height: 1.38;
      overflow: hidden;
  .post-copyright-url
    button
      margin-left: 5px;
    a,i
      transition .3s
      color var(--gray-font-color)
      &:hover
        color var(--font-color)
  .post-copyright-notice
    font-size .7rem
    a
      color var(--gray-font-color)
      &:hover
        color var(--font-color)

.related-posts
  .related-posts-lists
    display flex
    justify-content: flex-start;
    flex-wrap wrap
    .related-posts-item
      position: relative;
      border-radius var(--main-radius)
      overflow hidden
      width: calc(25% - 12px);
      margin: 3px
      +maxWidth768()
        width: 100%;
      &:hover
        .mask
          background-color: rgba(0,0,0,.4);
        img
          transform scale(1.1)
      a
        display block
        height: 5.2em
        +maxWidth768()
          height: 130px;
        img
          width: 100%
          height: 100%
          object-fit: cover;
        .mask
          position: absolute;
          top: 0
          width: 100%
          height: 100%
          background-color: rgba(0,0,0,.2);
          transition background-color .3s
        .title
          position: absolute;
          top: 50%
          left: 50%
          width: 100%;
          padding: 0 15px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          text-align: center;
          transform translate(-50%,-50%)
          color var(--font-white)

.post-end
  margin: 1rem 0;
  text-align center
  color: #bfbfbf;
.head-line
  margin-top: 1rem;
  margin-bottom: .5rem;
  span
    font-size 1rem
    font-weight: 700;

