#right-side
  display flex
  flex-direction column
  justify-content: center;
  position: fixed;
  right: 180px
  bottom: 180px
  z-index: 99;
  opacity: 0;
  transition all .5s
  +maxWidth768()
    right: 5px
    bottom: 50px
  button
    background-color: var(--btn-bg);
    color var(--btn-color)
    &:hover
      background-color: var(--btn-hover-color);
.show-right-side
  opacity: 0.9!important;