script.
    (() => {
        var $echartsWrap = document.querySelector('.post-inner #echarts-inner')

        if ($echartsWrap) {
            window.runEcharts = ()=>{
                var echarts_src = $echartsWrap.firstElementChild
                var options = toString(echarts_src.innerHTML);
                console.log(options)
                var myChart = echarts.init($echartsWrap);
                myChart.setOption(options);
            }

            const loadEctharts = () => {
                getScript('!{theme.CDN.echarts}').then(runEcharts)
                getScript('!{theme.CDN.echarts_gl}').then()
            }

            window.pjax ? loadEctharts() : document.addEventListener('DOMContentLoaded', loadEctharts)
        }

    })()